@model IEnumerable<WebProjesi.Models.Film>
@{
    ViewData["Title"] = "Film Listesi";
    Layout = "/Views/Shared/_Layout.cshtml";
}



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-4 pl-4">
            <h4 class="bg-dark w-75 text-center pb-2 rounded pl-2 pr-2 pt-2 text-white">Film Listesi</h4>

        </div>
    </div>
    <div class="row pt-4">
        <div class="col-3 align-self-end">
            <a asp-controller="Film" asp-action="filmAksiyon" class="btn btn-dark ">Aksiyon</a>
        </div>
        <div class="col-3">
            <a asp-controller="Film" asp-action="filmMacera" class="btn btn-dark ">Macera</a>
        </div>
        <div class="col-3">
            <a asp-controller="Film" asp-action="filmBKurgu" class="btn btn-dark ">Bilim Kurgu</a>
        </div>
        <div class="col-3">
            <a asp-controller="Film" asp-action="kullaniciFilmler" class="btn btn-secondary ">Romantik</a>
        </div>
    </div>
    <br />


    <div class="card-group">
        @foreach (var i in Model)
        {
            if (i.filmTuru == "Romantik")
            {
                <div class="col-sm-4">
                    <div class="card cardFilm">
                        <img src="@i.filmResimURL" class="kartresim card-img " alt="...">
                        <div class="card-body overflow-auto ">
                            <a asp-action="Details" asp-controller="film" asp-route-Id="@i.Id" class="card-title font-weight-bolder text-capitalize text-primary">@i.filmIsmi</a>
                            <hr />
                            <p class="card-text text-capitalize text-light">@i.filmAciklamasi</p>
                            <br />

                        </div>
                        <div class="align-self-end pr-2">
                            @if (User.IsInRole("Admin") || User.IsInRole("Kullanici"))
                            {
                                <a asp-controller="Film" asp-action="KatalogEkle" asp-route-Id="@i.Id" class="btn btn-dark ml-2 mb-2  text-white" style="margin-top:auto">Kataloğa Ekle</a>

                            }
                        </div>
                    </div>
                </div>
                <br />
            }

        }
    </div>


</div>
